# Eclipse
.project
.classpath
.settings/
bin/
dist/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# VS Code
.vscode

# OSX
.DS_Store

# SASS
.sass-cache
sassdoc

# NODE
node_modules/
.quinoa

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties